@model IEnumerable<CLModelLayer.EmployeeModel> 
@{ 
    ViewBag.Title = "Index";
}

<h1>@DateTime.Now</h1>

@foreach (var item in Model)
{
    Html.RenderPartial("_Card", item);
    //var aaa = @Html.Partial("_Card", item);
}
